body {
    color: rgb(105, 103, 102) !important;
    font-family: 'stc';
}
/* start nav */
.line-header {
    height: 5px;
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}
.d-flex .btn  , .d-flex .btn:hover {
    background-color: rgb(73, 185, 117);
    color: white;
    right: -130px;
 }
 .badge {
    right: 3px;
    background-color: #7600d9 !important;
 }
 .badge.heart {
   right: -7px;
 }
 .nav-link {
    font-size: 12px;
    font-weight: bold;
 }
.navbar .dropdown-menu {
    width: 800px;
 }
 /* END NAV */
.search {
 background-color:rgb(65, 130, 195);
}
/* items  */
.items img{
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 1px 0px 0px;
}
.section .items {
    overflow-x: scroll;
}
.section {
   .items p {
      font-size: 12px;
    }
    .items::-webkit-scrollbar,.categories-block .items::-webkit-scrollbar {
      width: 8px;
      background-color: white;
      height: 10px;
   }
   .items::-webkit-scrollbar-thumb,.categories-block .items::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #4182c3), color-stop(0.72, #4182c3), color-stop(0.86, #4182c3));
   }
   .items::-webkit-scrollbar-track, .categories .categories-block .items::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: white;
      border-radius: 8px;
   }
}
.card-img-fixed-size {
    height: 200px; 
    object-fit: cover;
}
.item .card-img-top {
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.modal-footer button{
   cursor: pointer;
   color: #fff;
   background-color: #7600d9;
   border-color: #7600d9;
}
.comapny {
   background-color: white;
}
.comapny h6 {
   background-color: #dfdede;
}
.details p {
   font-size: 14px;
}
.line-footer {
   background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
   height: 10px;
}
.footer li a{
   color: rgb(105, 103, 102) !important;
}
.contact button {
   background-color: #7e57c6 ;
   color: white;
}